{{ partial "header.html" . }}

<!-- {{ range where .Pages "Type" "post" }}
  {{ .Title }}
  {{ .Type }}
  {{ .Description }}
{{ end }} -->





<div class="container" style="margin-top: 10px;">
<main class="list">

{{ range .Site.Data.creators }}
  <table>
    <tr>
      <td width="200">
        <div  style="text-align: center;">
          <h3>{{ .name }}</h3>
        </div>
      </td>
      <td>
        <table style="list-style-type: none; border:none; max-width: 90%;">
          <tr>
            <td width=350>
              <li><a href="{{ .websiteUrl }}">{{ .websiteURL }}</a></li>
            </td>
          </tr>
          <tr>
            <td>
              <li><a href="{{ .twitterURL }}">{{ .twitterURL }}</a></li>
            </td>
          </tr>
          <tr>
            <td>
              <li><a href="{{ .instagramURL }}">{{ .instagramURL }}</a></li>
            </td>
          </tr>
          <tr>
            <td>
              <li><a href="{{ .facebookURL }}">{{ .facebookURL }}</a></li>
            </td>
          </tr>
          <tr>
            <td>
              <li><a href="{{ .youtubeURL }}">{{ .youtubeURL }}</a></li>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
{{ end }}
{{ $paginator := .Paginate (where .Pages "Type" "video") }}
{{ range $paginator.Pages }}
{{ end }}
</main>
    <nav style="text-align: center; padding: 5px;">
      <div style="text-align: center;" class="article-list">
        {{ template "_internal/pagination.html" . }}
        {{ partial "comments.html" . }}
      </div>
    </nav>
</div>

{{ partial "footer.html" . }}
