{{ if and .Site.Params.staticman (not (or .Site.Params.disable_comments .Params.disable_comments)) }}
<section id="comments" style="background: white; margin: 10px;">
    <form id="comment-form" class="post-new-comment" method="post" action="{{ .Site.Params.staticman.endpoint }}/{{ .Site.Params.staticman.username }}/{{ .Site.Params.staticman.repository }}/{{ .Site.Params.staticman.branch }}/creators">
        <h3 class="prompt">Add your content sources</h3>
        <ul style="list-style-type: none;">
            <li>
                <input type="hidden" name="options[redirect]" value="{{ .Permalink }}#comment-submitted">
                <input type="hidden" name="options[slug]" value="{{ .File.BaseFileName }}">
                <input type="text" name="fields[name]" class="post-comment-field" placeholder="Name *" required/>
            </li>
            <li>
                <input type="text" name="fields[description]" class="post-comment-field" placeholder="Description" />
            </li>
            <li>
                <input type="text" name="fields[instagramURL]" class="post-comment-field" placeholder="Instagram URL" />
            </li>
            <li>
                <input type="text" name="fields[websiteURL]" class="post-comment-field" placeholder="Website URL" />
            </li>
            <li>
                <input type="text" name="fields[linkedinURL]" class="post-comment-field" placeholder="Linkedin URL" />
            </li>
            <li>
                <input type="text" name="fields[facebookURL]" class="post-comment-field" placeholder="Facebook URL" />
            </li>
            <li>
                <input type="text" name="fields[youtubeURL]" class="post-comment-field" placeholder="YouTube URL" />
            </li>
            <li>
                <input type="text" name="fields[twitterURL]" class="post-comment-field" placeholder="Twitter URL" />
            </li>
            <li>
                <input type="submit" class="post-comment-field btn btn-primary comment-buttons" value="Submit">
            </li>
        </ul>
    </form>
    <div id="comment-submitted" class="dialog">
        <h3>Thank you!</h3>
        <p>Your request has been submitted and will be published once it has been processed, hashed, and deployed to the IPFS network. &#128522;</p>

        <p><a href="#" class="btn btn-primary comment-buttons ok">OK</a></p>
    </div>
</section>
{{ end }}